<phpunit bootstrap="vendor/autoload.php" stderr="true">
    <testsuites>
        <testsuite name="Slmvc">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Controllers">
            <directory>tests/Controllers</directory>
        </testsuite>
    </testsuites>
</phpunit>